/**reset**/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
html {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
q,
blockquote {
  quotes: none;
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
  content: none;
}
a img {
  border: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}
@font-face {
  font-family: Monoid;
  font-style: normal;
  font-weight: 400;
  src: url("Monoid/Monoid-Regular.ttf");
}
@font-face {
  font-family: Monoid;
  font-style: italic;
  src: url("Monoid/Monoid-Italic.ttf");
}
@font-face {
  font-family: Monoid;
  font-style: normal;
  font-weight: bold;
  src: url("Monoid/Monoid-Bold.ttf");
}
/**default styles**/
article p,
article blockquote,
article ul,
article ol {
  margin-bottom: 1.5em;
}
ul {
  list-style-type: disc;
}
ul ul {
  list-style-type: circle;
  margin-bottom: 0px;
}
ul ul ul {
  list-style-type: square;
  margin-bottom: 0px;
}
ol {
  list-style-type: decimal;
}
ol ol {
  list-style-type: lower-alpha;
  margin-bottom: 0px;
}
ol ol ol {
  list-style-type: lower-roman;
  margin-bottom: 0px;
}
ul,
ol,
ul ul,
ol ul,
ul ol,
ol ol {
  margin-left: 1.3em;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 0em;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
sup,
sub {
  font-size: 0.8em;
  position: relative;
  display: inline-block;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.5em;
}
q {
  font-style: italic;
}
q:before {
  content: "\201C";
}
q:after {
  content: "\201D";
}
em,
dfn {
  font-style: italic;
}
strong,
dfn {
  font-weight: bold;
}
del,
s {
  text-decoration: line-through;
}
abbr,
acronym {
  border-bottom: 1px dotted;
  cursor: help;
}
pre,
code,
tt {
  font-family: "Monoid", monospace;
}
sub,
sup {
  line-height: 0;
}
hr {
  margin: 2em 0;
  border: none;
  border-top: 1px solid #eee;
}
small {
  font-size: 0.8em;
}
big {
  font-size: 1.2em;
}
/**layout**/
body {
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5em;
}

#content {
  width: 100%;
  padding: 0px;
}

article {
  padding: 20px;
  overflow: hidden;
  margin-bottom: 50px;
}
article > header {
  margin-bottom: 1em;
}

/**style**/
article a {
  color: #58b;
  text-decoration: none;
}
article a:hover,
article a:active,
article a:focus {
  color: #369;
  text-decoration: underline;
}
html,
body {
  font-family: Roboto, Arial, sans-serif;
  background: #eee;
  color: #fff;
}

#main {
  color: #000;
}
#container {
  background-color: white;
  color: #000;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

article > header {
  color: #3b7fb0;
}
article > header .date {
  opacity: 0.6;
  margin-right: 10px;
}
article > header .tags {
  font-family: "Monoid", monospace;
  float: right;
}
article > header .tags .tag {
  margin-left: 2px;
  text-decoration: none;
}
article > header .tags .tag:hover,
article > header .tags .tag:active,
article > header .tags .tag:focus {
  text-decoration: none;
  color: #147;
}
article > header .tags .tag:before {
  content: "#";
}
article > header h1 {
  margin: 0 0 0.3em 0;
  line-height: 1.4em;
  font-size: 1.6em;
  color: #3b7fb0;
  border-bottom: 2px solid #3b7fb0;
}
article > header h1 a,
article > header h1 a:hover,
article > header h1 a:focus,
article > header h1 a:active {
  color: inherit;
}
article > header h1:hover {
  color: #147;
  border-bottom-color: #147;
}
article > footer {
  margin-top: 2em;
  padding-top: 0.5em;
  border-top: 2px dashed #59d;
  position: relative;
}
article > footer .comments {
  opacity: 0.8;
  font-style: italic;
}
article > footer .continue-reading {
  position: absolute;
  top: -0.5em;
  right: 0em;
  font-size: 1em;
  line-height: 1em;
  background: #fff;
  white-space: nowrap;
}
article .excerpt p {
  margin-bottom: 0.5em;
}
article hr,
article br {
  clear: both;
}
article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
  font-weight: bold;
  margin: 2em 0 1em 0;
  line-height: 1.5em;
  clear: both;
}
article h1 {
  font-size: 1.6em;
}
article h2 {
  color: #a31818;
  font-size: 1.5em;
}
article h3 {
  color: #7318a3;
  font-size: 1.3em;
}
article h4 {
  color: #183fa3;
  font-size: 1.1em;
}
article h5 {
  color: #189ca3;
  font-size: 1.1em;
}
article h6 {
  font-size: 1.1em;
}
article img,
article video,
article iframe[src*="youtube.com"],
article iframe[src*="greweb.me"],
article iframe[src*="greweb.fr"] {
  max-width: 100%;
}
article figure {
  padding: 5px;
  border: 1px solid #999;
}
article figure figcaption {
  color: #999;
  font-style: italic;
}
article figure img {
  display: block;
  margin: 0 auto;
}
article img,
article figure {
  height: auto;
}
article img.thumbnail-right,
article figure.thumbnail-right {
  clear: both;
  float: right;
  margin-bottom: 1em;
  max-width: 45%;
  margin-left: 2%;
}
article img.thumbnail-left,
article figure.thumbnail-left {
  clear: both;
  float: left;
  margin-bottom: 1em;
  max-width: 45%;
  margin-right: 2%;
}
article blockquote {
  margin: 1.2em;
  position: relative;
  font-family: "Arapey", serif;
  color: #888;
  font-size: 1.2em;
  line-height: 1.3em;
  padding-left: 1em;
  border-left: 4px solid #ddd;
}
article blockquote cite {
  font-style: italic;
}
article blockquote cite:before {
  content: "\2014";
  padding-right: 0.3em;
  padding-left: 0.3em;
}
article a:hover > code {
  border-color: #000;
}
div.archives {
  padding: 20px;
}
div.archives h3 {
  margin: 0.5em 0;
  font-weight: bold;
  font-size: 1.5em;
}
div.archives ul {
  list-style: disc;
  padding-left: 1em;
}
div.archives ul li {
  margin: 0.5em 0;
}
div.archives ul li time {
  display: block;
}
div.archives ul li a.post {
  margin-left: 20px;
}
div.archives blockquote {
  margin: 1.2em;
  font-style: italic;
  position: relative;
  font-size: 1.2em;
  line-height: 1.5em;
  padding-left: 1em;
  border-left: 4px solid #ddd;
}
div.archives blockquote cite {
  font-style: italic;
}
div.archives blockquote cite:before {
  content: "\2014";
  padding-right: 0.3em;
  padding-left: 0.3em;
}
div.archives.archives-with-thumbnail ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
div.archives.archives-with-thumbnail a.post {
  margin: 0;
}
div.archives.archives-with-thumbnail a.post .title {
  font-size: 1.4em;
}
div.archives.archives-with-thumbnail .thumbnail {
  height: 80px;
  width: 80px;
  vertical-align: middle;
}
nav.pagination {
  text-align: center;
  padding: 0.4em;
  background: #fff;
  font-size: 1.2em;
}
nav.pagination .next {
  float: right;
}
nav.pagination .previous {
  float: left;
}
.twitter-timeline {
  width: 100% !important;
}
/**code**/
.highlight,
html .gist .gist-file .gist-syntax {
  border: none !important;
}
.highlight table td.code,
html .gist .gist-file .gist-syntax table td.code {
  width: 100%;
}
html .gist .gist-file .gist-syntax .line-numbers {
  display: none;
}
figure.code,
.gist-file,
pre {
  -webkit-box-shadow: rgba(0, 0, 0, 0.06) 0 0 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.06) 0 0 10px;
  box-shadow: rgba(0, 0, 0, 0.06) 0 0 10px;
}
figure.code .highlight pre,
.gist-file .highlight pre,
pre .highlight pre {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.gist article {
  background: #fff;
  margin-bottom: 0;
  font-family: Roboto, Arial, sans-serif;
}
html .gist .gist-file {
  margin-bottom: 1.8em;
  position: relative;
  border: none;
}
html .gist .gist-file .gist-syntax {
  border-bottom: 0 !important;
  background: none !important;
}
html .gist .gist-file .gist-syntax {
  background: #222222 !important;
}
pre {
  border: 1px solid #05232b;
  line-height: 1.45em;
  font-size: 13px;
  margin-bottom: 2.1em;
  padding: 0.8em 1em;
  color: #e6e1dc;
  overflow: auto;
}
p code,
li code {
  display: inline-block;
  white-space: no-wrap;
  background: #fff;
  font-size: 0.8em;
  line-height: 1.5em;
  color: #555;
  border: 1px solid #ddd;
  padding: 0 0.3em;
  margin: -1px 0;
}
p pre code,
li pre code {
  font-size: 1em !important;
  background: none;
  border: none;
}
.pre-code,
html .gist .gist-file .gist-syntax pre,
.highlight code {
  font-family: "Monoid", monospace !important;
  font-size: 12px;
  overflow: scroll;
  overflow-y: hidden;
  display: block;
  padding: 0.8em !important;
  overflow-x: auto;
  line-height: 1.45em;
  color: #e6e1dc !important;
}
.pre-code *::-moz-selection,
html .gist .gist-file .gist-syntax pre *::-moz-selection,
.highlight code *::-moz-selection {
  background: #386774;
  color: inherit;
  text-shadow: #002b36 0 1px;
}
.pre-code *::-webkit-selection,
html .gist .gist-file .gist-syntax pre *::-webkit-selection,
.highlight code *::-webkit-selection {
  background: #386774;
  color: inherit;
  text-shadow: #002b36 0 1px;
}
.pre-code *::selection,
html .gist .gist-file .gist-syntax pre *::selection,
.highlight code *::selection {
  background: #386774;
  color: inherit;
  text-shadow: #002b36 0 1px;
}
.pre-code span,
html .gist .gist-file .gist-syntax pre span,
.highlight code span {
  color: #e6e1dc !important;
}
.pre-code span,
html .gist .gist-file .gist-syntax pre span,
.highlight code span {
  font-style: normal !important;
  font-weight: normal !important;
}
.pre-code .c,
html .gist .gist-file .gist-syntax pre .c,
.highlight code .c {
  color: #666666 !important;
  font-style: italic !important;
}
.pre-code .cm,
html .gist .gist-file .gist-syntax pre .cm,
.highlight code .cm {
  color: #666666 !important;
  font-style: italic !important;
}
.pre-code .cp,
html .gist .gist-file .gist-syntax pre .cp,
.highlight code .cp {
  color: #666666 !important;
  font-style: italic !important;
}
.pre-code .c1,
html .gist .gist-file .gist-syntax pre .c1,
.highlight code .c1 {
  color: #666666 !important;
  font-style: italic !important;
}
.pre-code .cs,
html .gist .gist-file .gist-syntax pre .cs,
.highlight code .cs {
  color: #666666 !important;
  font-weight: normal !important;
  font-style: italic !important;
}
.pre-code .err,
html .gist .gist-file .gist-syntax pre .err,
.highlight code .err {
  color: #dc322f !important;
  background: none !important;
}
.pre-code .k,
html .gist .gist-file .gist-syntax pre .k,
.highlight code .k {
  color: #cc7833 !important;
}
.pre-code .o,
html .gist .gist-file .gist-syntax pre .o,
.highlight code .o {
  color: #e6e1dc !important;
}
.pre-code .p,
html .gist .gist-file .gist-syntax pre .p,
.highlight code .p {
  color: #e6e1dc !important;
}
.pre-code .ow,
html .gist .gist-file .gist-syntax pre .ow,
.highlight code .ow {
  color: #a5c261 !important;
  font-weight: normal !important;
}
.pre-code .gd,
html .gist .gist-file .gist-syntax pre .gd,
.highlight code .gd {
  color: #e6e1dc !important;
  background-color: #372c34 !important;
  display: inline-block;
}
.pre-code .gd .x,
html .gist .gist-file .gist-syntax pre .gd .x,
.highlight code .gd .x {
  color: #e6e1dc !important;
  background-color: #4d2d33 !important;
  display: inline-block;
}
.pre-code .ge,
html .gist .gist-file .gist-syntax pre .ge,
.highlight code .ge {
  color: #e6e1dc !important;
  font-style: italic !important;
}
.pre-code .gh,
html .gist .gist-file .gist-syntax pre .gh,
.highlight code .gh {
  color: #666666 !important;
}
.pre-code .gi,
html .gist .gist-file .gist-syntax pre .gi,
.highlight code .gi {
  color: #e6e1dc !important;
  background-color: #1a412b !important;
  display: inline-block;
}
.pre-code .gi .x,
html .gist .gist-file .gist-syntax pre .gi .x,
.highlight code .gi .x {
  color: #e6e1dc !important;
  background-color: #222222 !important;
  display: inline-block;
}
.pre-code .gs,
html .gist .gist-file .gist-syntax pre .gs,
.highlight code .gs {
  color: #e6e1dc !important;
  font-weight: normal !important;
}
.pre-code .gu,
html .gist .gist-file .gist-syntax pre .gu,
.highlight code .gu {
  color: #6c71c4 !important;
}
.pre-code .kc,
html .gist .gist-file .gist-syntax pre .kc,
.highlight code .kc {
  color: #cc7833 !important;
  font-weight: normal !important;
}
.pre-code .kd,
html .gist .gist-file .gist-syntax pre .kd,
.highlight code .kd {
  color: #6d9cbe !important;
}
.pre-code .kp,
html .gist .gist-file .gist-syntax pre .kp,
.highlight code .kp {
  color: #cc7833 !important;
  font-weight: normal !important;
}
.pre-code .kr,
html .gist .gist-file .gist-syntax pre .kr,
.highlight code .kr {
  color: #cc7833 !important;
}
.pre-code .kt,
html .gist .gist-file .gist-syntax pre .kt,
.highlight code .kt {
  color: #a5c261 !important;
}
.pre-code .n,
html .gist .gist-file .gist-syntax pre .n,
.highlight code .n {
  color: #e6e1dc !important;
}
.pre-code .na,
html .gist .gist-file .gist-syntax pre .na,
.highlight code .na {
  color: #6d9cbe !important;
}
.pre-code .nb,
html .gist .gist-file .gist-syntax pre .nb,
.highlight code .nb {
  color: #cc7833 !important;
}
.pre-code .nc,
html .gist .gist-file .gist-syntax pre .nc,
.highlight code .nc {
  color: #da4939 !important;
}
.pre-code .no,
html .gist .gist-file .gist-syntax pre .no,
.highlight code .no {
  color: #b58900 !important;
}
.pre-code .nl,
html .gist .gist-file .gist-syntax pre .nl,
.highlight code .nl {
  color: #cc7833 !important;
}
.pre-code .ne,
html .gist .gist-file .gist-syntax pre .ne,
.highlight code .ne {
  color: #6d9cbe !important;
  font-weight: normal !important;
}
.pre-code .nf,
html .gist .gist-file .gist-syntax pre .nf,
.highlight code .nf {
  color: #6d9cbe !important;
  font-weight: normal !important;
}
.pre-code .nn,
html .gist .gist-file .gist-syntax pre .nn,
.highlight code .nn {
  color: #e6e1dc !important;
}
.pre-code .nt,
html .gist .gist-file .gist-syntax pre .nt,
.highlight code .nt {
  color: #6d9cbe !important;
  font-weight: normal !important;
}
.pre-code .nx,
html .gist .gist-file .gist-syntax pre .nx,
.highlight code .nx {
  color: #da4939 !important;
}
.pre-code .vg,
html .gist .gist-file .gist-syntax pre .vg,
.highlight code .vg {
  color: #6d9cbe !important;
}
.pre-code .vi,
html .gist .gist-file .gist-syntax pre .vi,
.highlight code .vi {
  color: #6d9cbe !important;
}
.pre-code .nv,
html .gist .gist-file .gist-syntax pre .nv,
.highlight code .nv {
  color: #6d9cbe !important;
}
.pre-code .mf,
html .gist .gist-file .gist-syntax pre .mf,
.highlight code .mf {
  color: #a5c261 !important;
}
.pre-code .m,
html .gist .gist-file .gist-syntax pre .m,
.highlight code .m {
  color: #a5c261 !important;
}
.pre-code .mh,
html .gist .gist-file .gist-syntax pre .mh,
.highlight code .mh {
  color: #a5c261 !important;
}
.pre-code .mi,
html .gist .gist-file .gist-syntax pre .mi,
.highlight code .mi {
  color: #a5c261 !important;
}
.pre-code .s,
html .gist .gist-file .gist-syntax pre .s,
.highlight code .s {
  color: #a5c261 !important;
}
.pre-code .sd,
html .gist .gist-file .gist-syntax pre .sd,
.highlight code .sd {
  color: #a5c261 !important;
}
.pre-code .s2,
html .gist .gist-file .gist-syntax pre .s2,
.highlight code .s2 {
  color: #a5c261 !important;
}
.pre-code .se,
html .gist .gist-file .gist-syntax pre .se,
.highlight code .se {
  color: #dc322f !important;
}
.pre-code .si,
html .gist .gist-file .gist-syntax pre .si,
.highlight code .si {
  color: #6d9cbe !important;
}
.pre-code .sr,
html .gist .gist-file .gist-syntax pre .sr,
.highlight code .sr {
  color: #a5c261 !important;
}
.pre-code .s1,
html .gist .gist-file .gist-syntax pre .s1,
.highlight code .s1 {
  color: #a5c261 !important;
}
.pre-code div .gd,
html .gist .gist-file .gist-syntax pre div .gd,
.highlight code div .gd,
.pre-code div .gd .x,
html .gist .gist-file .gist-syntax pre div .gd .x,
.highlight code div .gd .x,
.pre-code div .gi,
html .gist .gist-file .gist-syntax pre div .gi,
.highlight code div .gi,
.pre-code div .gi .x,
html .gist .gist-file .gist-syntax pre div .gi .x,
.highlight code div .gi .x {
  display: inline-block;
  width: 100%;
}
.highlight {
  overflow-y: hidden;
  overflow-x: auto;
}
.highlight pre,
pre {
  background: none;
  -webkit-border-radius: none;
  -moz-border-radius: none;
  -ms-border-radius: none;
  -o-border-radius: none;
  border-radius: none;
  border: none;
  padding: 0;
}
.highlight code {
  background: #000;
}
